STELLAR_NETWORK=testnet
STELLAR_RPC_URL=https://soroban-testnet.stellar.org

CONTRACT_ESCROW=
CONTRACT_ORACLE=

LICHESS_API_TOKEN=
CHESSDOTCOM_API_KEY=

VITE_STELLAR_NETWORK=testnet
VITE_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
